body {
	margin: 0;
	padding: 20px;
	padding-left: 50px;
}
#allBox {
	width: 500px;
}
.listFalse {
	display: flex;
	background: green;
	transition: .5s;
}
.listTrue {
	display: flex;
	background: red;
	text-decoration: line-through;
}
