body {
	margin: 0;
	padding: 20px;
	padding-left: 50px;
}
.listFalse {
	display: flex;
	background: green;
	transition: .5s;
	width: 500px;
}
.listTrue {
	display: flex;
	background: red;
	width: 500px;
}
